.topComp{
    width: 100%;
    /* padding: 10px; */
    background-color: rgb(255, 255, 255);
    /* height: 18vh; */
    background-color: aliceblue;
}

.topmarquee{
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(219, 239, 204);
    padding: 10px;
    letter-spacing: 2px;
    /* display: fl; */
}

.top{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 60px;
    /* align-items: center; */
    padding: 15px;
    /* background-color: rgb(219, 239, 204); */
}

.top-line{
    /* color: rgb(122, 122, 226); */

}

.percaa{
    font-weight: 400;
    font-size: 50px;
    letter-spacing: 2px;
}

.top-head{
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:.5rem;
    /* font-weight: 500; */
}

.top-logos{
    display: flex;
    /* width:12vw; */
    justify-content: space-evenly;
    gap: 60px;
   
}
.smallmarquee{

    display: none;
    padding: 10px;
    background-color: aliceblue;
}
.top-logos-marquee{
    display: flex;
    /* width:12vw; */
    justify-content: space-evenly;
    gap: 40px;
    
}

.top-logos img{
    /* margin: 0 20px; */
    width: 7vw;
    height: 6vw;

}
/* .sp_logo img{
    width: 10vw;
} */
.top-logos-marquee img{
    /* margin: 0 20px; */
    width: 15vw;
    /* height: 5vw; */

}

.pce_logo{
    /* border-radius: 50%; */
}

.top-logos.sp_logo{
    width: 3vw;
}

@media screen and (max-width : 920px){
    .topmarquee{
        font-size: 10px;
    }
    .percaa{
        font-size: 28px;
        font-weight: bold;
    }
    .top-head{
        font-size: 18px;
    }
}
@media screen and (max-width : 690px){
    .top{
        gap: 10px;
    }
    .percaa{
        font-size: 22px;
    }
    .top-head{
        font-size: 15px;
    }
    .top-logos{
        justify-content: space-around;
        gap: 15px;
    }
    .top-logos img{
        /* margin: 0 20px; */
        width: 10vw;
    
        /* height: 10vw; */
    
    }
}
@media screen and (max-width : 480px){
    .top{
        gap: 5px;
    }
    .top-logos{
        /* justify-content: space-around;
        gap: 12px; */
        display: none;
    }

    .smallmarquee{
        display: block;
    }
    .top-logos img{
    /* margin: 0 20px; */
    width: 7vw;

    height: 6vw;

}
    .topmarquee{
        font-size: 10px;
    }
    .percaa{
        font-size: 25px;
    }
    .top-head{
        font-size: 12px;
    }
}



