.topComp{
    width: 100%;
    padding: 10px;
    background-color: antiquewhite;
    height: 18vh;
}

.top{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    /* align-items: center; */
}

.top-head{
    font-size: 19px;
    font-weight: 500;
    text-align: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:.5rem;
    font-weight: 500;
}

.top-logos{
    display: flex;
    width: 25vw;
    justify-content: space-evenly;
}

.pce_logo{
    border-radius: 50%;
}

