 .crousalCOmponent{
    display: flex;
    justify-content: center;
    align-items: center;
 }
  
.carousel { 
    position: relative; 
    width: 74vw; 
    height: 380px; 
    overflow: hidden; 
    background-color: #cdcdcd; 
    padding: 20px;
} 
  
.carousel-item .slide-image { 
    width: 100%; 
    height: 100%; 
    background-size: cover; 
    background-repeat: no-repeat; 
} 
  
.carousel-item { 
    position: absolute; 
    width: 100%; 
    height: 100%; 
    border: none; 
    top: 0; 
    left: 100%; 
} 
  
.carousel-item.active { 
    left: 0; 
    transition: all 0.3s ease-out; 
} 
  
.carousel-item div { 
    height: 100%; 
} 
  
.red { 
    background-color: red; 
} 
  
.green { 
    background-color: green; 
} 
  
.yellow { 
    background-color: yellow; 
} 
  
.violet { 
    background-color: violet; 
}



@media (max-width:1100px) {

    .carousel { 
    position: relative; 
    width: 74vw; 
    height: 280px; 
    overflow: hidden; 
    background-color: #cdcdcd; 
    padding: 20px;
} 
}
@media (max-width: 800px) {
    .carousel {
        position: relative;
        width: 73vw;
        height: 245px;
        overflow: hidden;
        background-color: #cdcdcd;
        padding: 20px;
    }
}
@media (max-width: 700px) {
    .carousel {
        position: relative;
        width: 100vw;
        height: 245px;
        overflow: hidden;
        background-color: #cdcdcd;
        padding: 20px;
    }
}

@media (max-width: 600px) {
    .carousel {
        position: relative;
        width: 100vw;
        height: 200px;
        overflow: hidden;
        background-color: #cdcdcd;
        padding: 20px;
    }
}