.work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  

  .wimages {
    display: flex;
    flex-wrap: wrap;
  }
  
  
  /* to provide a black&white to colour transition */
  .wimage1,
  .wimage2,
  .wimage3,
  .wimage4,
  .wimage5 {
    filter: grayscale(100%);
  }
  
  .wimage1:hover {
    filter: grayscale(0);
  }
  
  .wimage2:hover {
    filter: grayscale(0);
  }
  
  .wimage3:hover {
    filter: grayscale(0);
  }
  
  .wimage4:hover {
    filter: grayscale(0);
  }
  
  .wimage5:hover {
    filter: grayscale(0);
  }
  
  .wimage1 {
    width: 33vw;
    height: 15vw;
    background: url(/public/TopCrousalIMages/poornima1.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .wimage2 {
    width: 34vw;
    height: 15vw;
    background: url(/public/TopCrousalIMages/poornima2.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .wimage3 {
    width: 33vw;
    height: 15vw;
    background: url(/public/TopCrousalIMages/poornima3.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .wimage4 {
    width: 50vw;
    height: 20vw;
    background: url(/public/TopCrousalIMages/poornima4.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .wimage5 {
    width: 50vw;
    height: 20vw;
    background: url(/public/TopCrousalIMages/poornima5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .wimages > div.active {
    filter: grayscale(0%);
  }