*{
    overflow-x: hidden;
}
.main{
    width: 100vw;
}
.wrapper{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.member-info-container{
    display: flex;
    gap: 20px;
}
.member-info-container img{
    width: 69px;
    height: 84px;
    border-radius: 50%;
}
.members-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50vw;
}
.member-name{
    font-weight:bolder;
    color: black;
}